workspace.xml
latex/.texpadtmp/Assingnment1.aux
latex/.texpadtmp/Assingnment1.log
latex/.texpadtmp/Assingnment1.synctex.gz
latex/.texpadtmp/Assingnment3.aux
latex/.texpadtmp/Assingnment3.log
latex/.texpadtmp/Assingnment3.synctex.gz
latex/.texpadtmp/中文樣板.aux
latex/.texpadtmp/中文樣板.log
latex/.texpadtmp/中文樣板.synctex.gz
